<div *ngIf="GlobalConstants.token != null" class="channelManager">
  <a href="channel/create" class="btn btn-success">Créer un nouveau channel</a>
  <div>
    <div *ngFor="let channel of channels">
      <p>{{channel.id}}</p>
      <p>{{channel.name}}</p>
      <a [routerLink]="['/channel/show/',channel.id]" class="btn btn-outline-primary">Voir ce channel</a>
      <a *ngIf="channel.ownerId == GlobalConstants.actualUser.profile.id" (click)="channelService.removeOneChannel(channel.id)" class="btn btn-outline-danger">supprimer ce channel</a>
    </div>
  </div>
</div>
