/*Apply CSS reset*/
*{
  margin: 0;
  box-sizing: border-box;
}

/*Declare layout*/
.container{
  display: -webkit-inline-box;
  width: 100vw;
}

aside {
  width:18rem;
  height: 100vh;
}

.view {
  flex-grow: 1;
  width: 76%;
}

@media (max-width: 640px) {
  aside{
    width: 0;
  }
}
