@import "font-awesome/css/font-awesome.min.css";
li{
  transition: 0.2s;
  color: white;
}

li:hover{
  color: black;
  background: white;
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem black;
}

li:active{
  transform: translate(0);
}

.sidebar{
  background-color: #252525;
}
