.channelDetail{
  position: fixed;
  width: 70vw;
  background-color: white;
}

.top{
  margin-top: 5px;
  height: 5vh;
  border-bottom: 1px solid grey;
  font-size: x-large;
}

.arrowBackHover:hover{
  .arrowBack{
    filter: invert(100)
  }
}

.topDetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left{
  display: flex;
  flex-direction: row;
}

.right{
  margin-right: 10px;
}

.messageInput{
  position: fixed;
  bottom: 10px;
  right: 25vw;
  border-radius: 25px;
}


.rightMessage{
  display: flex;
  justify-content: right;
}

.leftMessage{
  margin-left: 30vw;
  display: flex;
  justify-content: left;
}

.messagesZone{
 overflow: scroll;
  padding-bottom: 10vh;
}

.messages{
  margin-top: 10vh;
}


.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 0;
  position: fixed;
  bottom: 0;
  right: 20vw;
  border-radius: 25px;
  flex-direction: row;
}
