.channelDetail{
  margin-left: 30%;
}

.top{
  height: 5vh;
  border-bottom: 1px solid grey;
  font-size: x-large;
}

.topDetails{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
